USE [master]
GO
/****** Object:  Database [Bd_Login]    Script Date: 23/06/2020 14:12:54 ******/
CREATE DATABASE [Bd_Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bd_Login', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.EFI_SERVER\MSSQL\DATA\Bd_Login.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bd_Login_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.EFI_SERVER\MSSQL\DATA\Bd_Login_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bd_Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bd_Login]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 23/06/2020 14:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [estado]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_USUARIO]    Script Date: 23/06/2020 14:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_USUARIO](
@usuario varchar(50),
@pass varchar(50)
)AS
BEGIN
INSERT INTO USUARIO(usuario,pass) VALUES (UPPER(@usuario),UPPER(@usuario))
END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIO]    Script Date: 23/06/2020 14:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LISTAR_USUARIO]
AS
BEGIN
SELECT*FROM USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[SELUSUSUARIO]    Script Date: 23/06/2020 14:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELUSUSUARIO](
@usuario varchar(50),
@pass varchar(50)
)
AS
BEGIN
SELECT idUsuario,usuario,pass FROM USUARIO Where usuario=UPPER(@usuario) And pass=UPPER(@pass)
END
GO
USE [master]
GO
