USE [master]
GO
/****** Object:  Database [COLEGIO_SAI]    Script Date: 02/07/2020 23:41:55 ******/
CREATE DATABASE [COLEGIO_SAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COLEGIO_SAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.EFI_SERVER\MSSQL\DATA\COLEGIO_SAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COLEGIO_SAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.EFI_SERVER\MSSQL\DATA\COLEGIO_SAI_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COLEGIO_SAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COLEGIO_SAI]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[AL_IDALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[PE_IDPERSONA] [int] NOT NULL,
	[PER_IDAPODERADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AL_IDALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANIO_LECTIVO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIO_LECTIVO](
	[AN_IDANIOL] [int] IDENTITY(1,1) NOT NULL,
	[AN_ANIO] [char](5) NOT NULL,
	[AN_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AN_IDANIOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AULA](
	[AU_IDAULA] [int] IDENTITY(1,1) NOT NULL,
	[AU_NUMERO] [varchar](10) NOT NULL,
	[AU_VACANTES] [int] NOT NULL,
	[AU_CAPACIDAD] [int] NOT NULL,
	[AU_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AU_IDAULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALIFICACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIFICACIONES](
	[CA_ID_CALIFICACIONES] [int] IDENTITY(1,1) NOT NULL,
	[CA_NOTA01] [float] NOT NULL,
	[CA_NOTA02] [float] NOT NULL,
	[CA_NOTA03] [float] NOT NULL,
	[CA_NOTA04] [float] NOT NULL,
	[CA_NOTA05] [float] NOT NULL,
	[TR_IDTRIMESTRE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CA_ID_CALIFICACIONES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CERTIFICADO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERTIFICADO_ALUMNO](
	[IA_IDCERTIFICADO_ALUMNO] [int] IDENTITY(1,1) NOT NULL,
	[CN_IDCONSTANTE] [int] NOT NULL,
	[AL_IDALUMNO] [int] NOT NULL,
	[IA_RUTA] [varchar](200) NOT NULL,
	[IA_CERTIFICADO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IA_IDCERTIFICADO_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSTANTE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSTANTE](
	[CN_IDCONSTANTE] [int] IDENTITY(1,1) NOT NULL,
	[CN_NOMBRE] [varchar](100) NOT NULL,
	[CN_CATEGORIA] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CN_IDCONSTANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[CU_IDCURSO] [int] IDENTITY(1,1) NOT NULL,
	[CU_NOMBRE] [varchar](150) NOT NULL,
	[CU_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CU_IDCURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_CALIFICACION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_CALIFICACION](
	[DC_CALIFICACION] [int] IDENTITY(1,1) NOT NULL,
	[PC_IDPROGRAMAR] [int] NOT NULL,
	[CA_IDCALIFICACIONES] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DC_CALIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_MATRICULA](
	[DM_IDDETALLEMA] [int] IDENTITY(1,1) NOT NULL,
	[MA_IDMATRICULA] [int] NOT NULL,
	[PC_IDPROGRAMAR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DM_IDDETALLEMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO_ALUMNO](
	[DA_IDDOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[AN_IDANIOL] [int] NOT NULL,
	[GR_IDGRADO] [int] NOT NULL,
	[SE_IDSECCION] [int] NOT NULL,
	[AL_IDALUMNO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DA_IDDOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADO](
	[GR_IDGRADO] [int] IDENTITY(1,1) NOT NULL,
	[GR_GRADO] [char](2) NOT NULL,
	[GR_ESTADO] [char](1) NOT NULL,
	[TR_IDTURNO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GR_IDGRADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MALLA_CURRICULAR]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MALLA_CURRICULAR](
	[MC_IDMALLAC] [int] IDENTITY(1,1) NOT NULL,
	[MC_FECHA] [datetime] NOT NULL,
	[GR_IDGRADO] [int] NOT NULL,
	[AN_IDANIOL] [int] NOT NULL,
	[CU_IDCURSO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MC_IDMALLAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRICULA](
	[MA_IDMATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[MA_FECHA] [datetime] NOT NULL,
	[MA_ESTADO] [char](1) NOT NULL,
	[RM_IDMATRICULA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_IDMATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACIONES](
	[OP_IDOPERACIONES] [int] IDENTITY(1,1) NOT NULL,
	[OP_OPERACION] [varchar](100) NOT NULL,
	[OP_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OP_IDOPERACIONES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[PE_IDPERSONA] [int] IDENTITY(1,1) NOT NULL,
	[PE_NOMBRE] [varchar](100) NOT NULL,
	[PE_APELLIDOPAT] [varchar](50) NOT NULL,
	[PE_APELLIDOMAT] [varchar](50) NOT NULL,
	[PE_IDENTIFICACION] [char](8) NOT NULL,
	[PE_FECHANAC] [datetime] NOT NULL,
	[PE_TELEFONO] [char](9) NOT NULL,
	[PE_DIRECCION] [varchar](100) NOT NULL,
	[PE_SEXO] [char](1) NOT NULL,
	[PE_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PE_IDPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAL]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL](
	[PER_IDPERSONAL] [int] IDENTITY(1,1) NOT NULL,
	[PE_IDPERSONA] [int] NOT NULL,
	[CN_IDTIPOPERSONA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PER_IDPERSONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMAR_DOCENTECURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMAR_DOCENTECURSO](
	[PC_IDPROGRAMAR] [int] IDENTITY(1,1) NOT NULL,
	[PC_FECHA] [datetime] NOT NULL,
	[MC_IDMALLAC] [int] NOT NULL,
	[PER_IDPERSONAL] [int] NOT NULL,
	[AU_IDAULA] [int] NOT NULL,
	[SE_IDSECCION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PC_IDPROGRAMAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA_MATRICULA](
	[RM_IDMATRICULA] [int] IDENTITY(1,1) NOT NULL,
	[RM_FECHA] [datetime] NOT NULL,
	[RM_ESTADO] [char](1) NOT NULL,
	[DA_IDDOCUMENTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RM_IDMATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECCION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECCION](
	[SE_IDSECCION] [int] IDENTITY(1,1) NOT NULL,
	[SE_SECCION] [char](2) NOT NULL,
	[SE_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SE_IDSECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCIONES](
	[TR_IDTRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[TR_HOST] [varchar](100) NOT NULL,
	[TR_DESCRIPCION] [varchar](200) NOT NULL,
	[OP_IDOPERACIONES] [int] NOT NULL,
	[US_IDUSUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TR_IDTRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIMESTRE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIMESTRE](
	[TR_IDTRIMESTRE] [int] IDENTITY(1,1) NOT NULL,
	[TR_TRIMESTRE] [varchar](80) NOT NULL,
	[TR_INCIO] [datetime] NOT NULL,
	[TR_FIN] [datetime] NOT NULL,
	[TR_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TR_IDTRIMESTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNO](
	[TR_IDTURNO] [int] IDENTITY(1,1) NOT NULL,
	[TR_TURNO] [varchar](50) NOT NULL,
	[TR_ESTADO] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TR_IDTURNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[US_IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[US_USUARIO] [varchar](100) NOT NULL,
	[US_CONTRASENIA] [varchar](120) NOT NULL,
	[CN_IDCONSTANTE] [int] NOT NULL,
	[PE_IDPERSONA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[US_IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD FOREIGN KEY([PE_IDPERSONA])
REFERENCES [dbo].[PERSONA] ([PE_IDPERSONA])
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD FOREIGN KEY([PER_IDAPODERADO])
REFERENCES [dbo].[PERSONAL] ([PER_IDPERSONAL])
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD FOREIGN KEY([TR_IDTRIMESTRE])
REFERENCES [dbo].[TRIMESTRE] ([TR_IDTRIMESTRE])
GO
ALTER TABLE [dbo].[CERTIFICADO_ALUMNO]  WITH CHECK ADD FOREIGN KEY([AL_IDALUMNO])
REFERENCES [dbo].[ALUMNO] ([AL_IDALUMNO])
GO
ALTER TABLE [dbo].[CERTIFICADO_ALUMNO]  WITH CHECK ADD FOREIGN KEY([CN_IDCONSTANTE])
REFERENCES [dbo].[CONSTANTE] ([CN_IDCONSTANTE])
GO
ALTER TABLE [dbo].[DETALLE_CALIFICACION]  WITH CHECK ADD FOREIGN KEY([CA_IDCALIFICACIONES])
REFERENCES [dbo].[CALIFICACIONES] ([CA_ID_CALIFICACIONES])
GO
ALTER TABLE [dbo].[DETALLE_CALIFICACION]  WITH CHECK ADD FOREIGN KEY([PC_IDPROGRAMAR])
REFERENCES [dbo].[PROGRAMAR_DOCENTECURSO] ([PC_IDPROGRAMAR])
GO
ALTER TABLE [dbo].[DETALLE_MATRICULA]  WITH CHECK ADD FOREIGN KEY([MA_IDMATRICULA])
REFERENCES [dbo].[MATRICULA] ([MA_IDMATRICULA])
GO
ALTER TABLE [dbo].[DETALLE_MATRICULA]  WITH CHECK ADD FOREIGN KEY([PC_IDPROGRAMAR])
REFERENCES [dbo].[PROGRAMAR_DOCENTECURSO] ([PC_IDPROGRAMAR])
GO
ALTER TABLE [dbo].[DOCUMENTO_ALUMNO]  WITH CHECK ADD FOREIGN KEY([AL_IDALUMNO])
REFERENCES [dbo].[ALUMNO] ([AL_IDALUMNO])
GO
ALTER TABLE [dbo].[DOCUMENTO_ALUMNO]  WITH CHECK ADD FOREIGN KEY([AN_IDANIOL])
REFERENCES [dbo].[ANIO_LECTIVO] ([AN_IDANIOL])
GO
ALTER TABLE [dbo].[DOCUMENTO_ALUMNO]  WITH CHECK ADD FOREIGN KEY([GR_IDGRADO])
REFERENCES [dbo].[GRADO] ([GR_IDGRADO])
GO
ALTER TABLE [dbo].[DOCUMENTO_ALUMNO]  WITH CHECK ADD FOREIGN KEY([SE_IDSECCION])
REFERENCES [dbo].[SECCION] ([SE_IDSECCION])
GO
ALTER TABLE [dbo].[GRADO]  WITH CHECK ADD FOREIGN KEY([TR_IDTURNO])
REFERENCES [dbo].[TURNO] ([TR_IDTURNO])
GO
ALTER TABLE [dbo].[MALLA_CURRICULAR]  WITH CHECK ADD FOREIGN KEY([AN_IDANIOL])
REFERENCES [dbo].[ANIO_LECTIVO] ([AN_IDANIOL])
GO
ALTER TABLE [dbo].[MALLA_CURRICULAR]  WITH CHECK ADD FOREIGN KEY([CU_IDCURSO])
REFERENCES [dbo].[CURSO] ([CU_IDCURSO])
GO
ALTER TABLE [dbo].[MALLA_CURRICULAR]  WITH CHECK ADD FOREIGN KEY([GR_IDGRADO])
REFERENCES [dbo].[GRADO] ([GR_IDGRADO])
GO
ALTER TABLE [dbo].[MATRICULA]  WITH CHECK ADD FOREIGN KEY([RM_IDMATRICULA])
REFERENCES [dbo].[RESERVA_MATRICULA] ([RM_IDMATRICULA])
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD FOREIGN KEY([CN_IDTIPOPERSONA])
REFERENCES [dbo].[CONSTANTE] ([CN_IDCONSTANTE])
GO
ALTER TABLE [dbo].[PERSONAL]  WITH CHECK ADD FOREIGN KEY([PE_IDPERSONA])
REFERENCES [dbo].[PERSONA] ([PE_IDPERSONA])
GO
ALTER TABLE [dbo].[PROGRAMAR_DOCENTECURSO]  WITH CHECK ADD FOREIGN KEY([AU_IDAULA])
REFERENCES [dbo].[AULA] ([AU_IDAULA])
GO
ALTER TABLE [dbo].[PROGRAMAR_DOCENTECURSO]  WITH CHECK ADD FOREIGN KEY([MC_IDMALLAC])
REFERENCES [dbo].[MALLA_CURRICULAR] ([MC_IDMALLAC])
GO
ALTER TABLE [dbo].[PROGRAMAR_DOCENTECURSO]  WITH CHECK ADD FOREIGN KEY([PER_IDPERSONAL])
REFERENCES [dbo].[PERSONAL] ([PER_IDPERSONAL])
GO
ALTER TABLE [dbo].[PROGRAMAR_DOCENTECURSO]  WITH CHECK ADD FOREIGN KEY([SE_IDSECCION])
REFERENCES [dbo].[SECCION] ([SE_IDSECCION])
GO
ALTER TABLE [dbo].[RESERVA_MATRICULA]  WITH CHECK ADD FOREIGN KEY([DA_IDDOCUMENTO])
REFERENCES [dbo].[DOCUMENTO_ALUMNO] ([DA_IDDOCUMENTO])
GO
ALTER TABLE [dbo].[TRANSACCIONES]  WITH CHECK ADD FOREIGN KEY([OP_IDOPERACIONES])
REFERENCES [dbo].[OPERACIONES] ([OP_IDOPERACIONES])
GO
ALTER TABLE [dbo].[TRANSACCIONES]  WITH CHECK ADD FOREIGN KEY([US_IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([US_IDUSUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([CN_IDCONSTANTE])
REFERENCES [dbo].[CONSTANTE] ([CN_IDCONSTANTE])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([PE_IDPERSONA])
REFERENCES [dbo].[PERSONA] ([PE_IDPERSONA])
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_USUARIO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[SP_BUSCAR_USUARIO]
	@US_USUARIO VARCHAR(100),
	@US_CONTRASENIA VARCHAR(120)
	AS
	BEGIN
	SELECT US_IDUSUARIO,US_USUARIO,US_CONTRASENIA
	FROM USUARIO Where US_USUARIO=@US_USUARIO And US_CONTRASENIA=@US_CONTRASENIA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_ALUMNO]
	@AL_IDALUMNO INT, 
	@PE_IDPERSONA INT, 
	@PER_IDAPODERADO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[ALUMNO]

		SET [PE_IDPERSONA]= @PE_IDPERSONA,
			[PER_IDAPODERADO]=@PER_IDAPODERADO

		WHERE [AL_IDALUMNO] = @AL_IDALUMNO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_ANIO_LECTIVO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_ANIO_LECTIVO]
	@AN_IDANIOL INT,
	@AN_ANIO CHAR(5),
	@AN_ESTADO CHAR(1)
	AS
	BEGIN 
		UPDATE [dbo].[ANIO_LECTIVO]
		SET [AN_ANIO]= @AN_ANIO,
			[AN_ESTADO] = @AN_ESTADO
		WHERE [AN_IDANIOL]= @AN_IDANIOL
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_AULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_AULA]
	@AU_IDAULA INT,
	@AU_NUMERO VARCHAR(10),
	@AU_VACANTES INT,
	@AU_CAPACIDAD INT,
	@AU_ESTADO CHAR
	AS
	BEGIN 
		
		UPDATE [dbo].[AULA]

		SET [AU_NUMERO]= @AU_NUMERO,
			[AU_VACANTES]=@AU_VACANTES,
			[AU_CAPACIDAD] =@AU_CAPACIDAD,
			[AU_ESTADO] = @AU_ESTADO

		WHERE [AU_IDAULA] = @AU_IDAULA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_CALIFICACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_CALIFICACIONES]
	@CA_ID_CALIFICACIONES INT,
	@CA_NOTA01 FLOAT,
	@CA_NOTA02 FLOAT,
	@CA_NOTA03 FLOAT,
	@CA_NOTA04 FLOAT,
	@CA_NOTA05 FLOAT,
	@TR_IDTRIMESTRE INT
	AS
	BEGIN 
		
		UPDATE [dbo].[CALIFICACIONES]

		SET [CA_NOTA01]= @CA_NOTA01,
			[CA_NOTA02]= @CA_NOTA02,
			[CA_NOTA03]= @CA_NOTA03,
			[CA_NOTA04]= @CA_NOTA04,
			[CA_NOTA05]= @CA_NOTA05,
			[TR_IDTRIMESTRE]= @TR_IDTRIMESTRE
			

		WHERE [CA_ID_CALIFICACIONES] = @CA_ID_CALIFICACIONES
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_CONSTANTE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_CONSTANTE]
	@CN_IDCONSTANTE INT,
	@CN_NOMBRE VARCHAR(100),
	@CN_CATEGORIA VARCHAR(150) 
	AS
	BEGIN 
		UPDATE [dbo].[CONSTANTE]
		SET [CN_NOMBRE]= @CN_NOMBRE,
			[CN_CATEGORIA] = @CN_CATEGORIA
		WHERE CN_IDCONSTANTE= @CN_IDCONSTANTE
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_CURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_CURSO]
	@CU_IDCURSO INT,
	@CU_NOMBRE VARCHAR(150),
	@CU_ESTADO CHAR(1)
	AS
	BEGIN 
		UPDATE [dbo].[CURSO]
		SET [CU_NOMBRE]= @CU_NOMBRE,
			[CU_ESTADO] = @CU_ESTADO
		WHERE [CU_IDCURSO]= @CU_IDCURSO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_DETALLE_CALIFICACION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_DETALLE_CALIFICACION]
	@DC_CALIFICACION INT, 
	@PC_IDPROGRAMAR INT,
	@CA_IDCALIFICACIONES INT
	AS
	BEGIN 
		
		UPDATE [dbo].[DETALLE_CALIFICACION]

		SET [PC_IDPROGRAMAR]= @PC_IDPROGRAMAR,
			[CA_IDCALIFICACIONES]=@CA_IDCALIFICACIONES

		WHERE [DC_CALIFICACION] = @DC_CALIFICACION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_DOCUMENTO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_DOCUMENTO_ALUMNO]
	@DA_IDDOCUMENTO INT, 
	@AN_IDANIOL INT,
	@GR_IDGRADO INT,
	@SE_IDSECCION INT, 
	@AL_IDALUMNO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[DOCUMENTO_ALUMNO]

		SET [AN_IDANIOL]= @AN_IDANIOL,
			[GR_IDGRADO]=@GR_IDGRADO,
			[SE_IDSECCION] =@SE_IDSECCION,
			[AL_IDALUMNO] = @AL_IDALUMNO

		WHERE [DA_IDDOCUMENTO] = @DA_IDDOCUMENTO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_GRADO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_GRADO]
	@GR_IDGRADO INT,
	@GR_GRADO CHAR(2),
	@GR_ESTADO CHAR(1),
	@TR_IDTURNO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[GRADO]

		SET [GR_GRADO]= @GR_GRADO,
			[GR_ESTADO]=@GR_ESTADO,
			[TR_IDTURNO] =@TR_IDTURNO

		WHERE [GR_IDGRADO] = @GR_IDGRADO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_MALLA_CURRICULAR]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_MALLA_CURRICULAR]
	@MC_IDMALLAC INT,
	@MC_FECHA DATETIME,
	@GR_IDGRADO INT,
	@AN_IDANIOL INT,
	@CU_IDCURSO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[MALLA_CURRICULAR]

		SET [MC_FECHA]= @MC_FECHA,
			[GR_IDGRADO]=@GR_IDGRADO,
			[AN_IDANIOL] =@AN_IDANIOL,
			[CU_IDCURSO] = @CU_IDCURSO

		WHERE [MC_IDMALLAC] = @MC_IDMALLAC
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_MATRICULA]
	@MA_IDMATRICULA INT, 
	@MA_FECHA DATETIME,
	@MA_ESTADO CHAR(1),
	@RM_IDMATRICULA INT
	AS
	BEGIN 
		
		UPDATE [dbo].[MATRICULA]

		SET [MA_FECHA]= @MA_FECHA,
			[MA_ESTADO]=@MA_ESTADO,
			[RM_IDMATRICULA] =@RM_IDMATRICULA

		WHERE [MA_IDMATRICULA] = @MA_IDMATRICULA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_OPERACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_OPERACIONES]
	@OP_IDOPERACIONES INT, 
	@OP_OPERACION VARCHAR(100),
	@OP_ESTADO CHAR(1)
	AS
	BEGIN 
		
		UPDATE [dbo].[OPERACIONES]

		SET [OP_OPERACION]= @OP_OPERACION,
			[OP_ESTADO]=@OP_ESTADO

		WHERE [OP_IDOPERACIONES] = @OP_IDOPERACIONES
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_PERSONA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_PERSONA]
	@PE_IDPERSONA INT,
	@PE_NOMBRE VARCHAR(100),
	@PE_APELLIDOPAT VARCHAR(50),
	@PE_APELLIDOMAT VARCHAR(50),
	@PE_IDENTIFICACION CHAR(8),
	@PE_FECHANAC DATETIME, 
	@PE_TELEFONO CHAR(9),
	@PE_DIRECCION VARCHAR(100),
	@PE_SEXO CHAR(1),
	@PE_ESTADO CHAR(1)
	AS
	BEGIN 
		
		UPDATE [dbo].[PERSONA]

		SET [PE_NOMBRE]= @PE_NOMBRE,
			[PE_APELLIDOPAT]=@PE_APELLIDOPAT,
			[PE_APELLIDOMAT] =@PE_APELLIDOMAT,
			[PE_IDENTIFICACION] = @PE_IDENTIFICACION,
			[PE_FECHANAC]= @PE_FECHANAC,
			[PE_TELEFONO]=@PE_TELEFONO,
			[PE_DIRECCION] =@PE_DIRECCION,
			[PE_SEXO] =@PE_SEXO,
			[PE_ESTADO] = @PE_ESTADO

		WHERE [PE_IDPERSONA] = @PE_IDPERSONA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_PERSONAL]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_PERSONAL]
	@PER_IDPERSONAL INT,
	@PE_IDPERSONA INT,
	@CN_IDTIPOPERSONA INT 
	AS
	BEGIN 
		
		UPDATE [dbo].[PERSONAL]

		SET [PE_IDPERSONA]= @PE_IDPERSONA,
			[CN_IDTIPOPERSONA]=@CN_IDTIPOPERSONA

		WHERE [PER_IDPERSONAL] = @PER_IDPERSONAL
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_PROGRAMAR_DOCENTECURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_PROGRAMAR_DOCENTECURSO]
	@PC_IDPROGRAMAR INT, 
	@PC_FECHA DATETIME,
	@MC_IDMALLAC INT,
	@PER_IDPERSONAL INT,
	@AU_IDAULA INT,
	@SE_IDSECCION INT
	AS
	BEGIN 
		
		UPDATE [dbo].[PROGRAMAR_DOCENTECURSO]

		SET [PC_FECHA]= @PC_FECHA,
			[MC_IDMALLAC]=@MC_IDMALLAC,
			[PER_IDPERSONAL] =@PER_IDPERSONAL,
			[AU_IDAULA] = @AU_IDAULA,
			[SE_IDSECCION] = @SE_IDSECCION

		WHERE [PC_IDPROGRAMAR] = @PC_IDPROGRAMAR
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_RESERVA_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_RESERVA_MATRICULA]
	@RM_IDMATRICULA INT, 
	@RM_FECHA DATETIME,
	@RM_ESTADO CHAR(1),
	@DA_IDDOCUMENTO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[RESERVA_MATRICULA]

		SET [RM_FECHA]= @RM_FECHA,
			[RM_ESTADO]=@RM_ESTADO,
			[DA_IDDOCUMENTO] =@DA_IDDOCUMENTO

		WHERE [RM_IDMATRICULA] = @RM_IDMATRICULA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_SECCION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_SECCION]
	@SE_IDSECCION INT,
	@SE_SECCION CHAR(2),
	@SE_ESTADO CHAR(1)
	AS
	BEGIN 
		UPDATE [dbo].[SECCION]
		SET [SE_SECCION]= @SE_SECCION,
			[SE_ESTADO] = @SE_ESTADO
		WHERE [SE_IDSECCION]= @SE_IDSECCION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_TRANSACCIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_TRANSACCIONES]
	@TR_IDTRANSACCION INT, 
	@TR_HOST VARCHAR (100),
	@TR_DESCRIPCION VARCHAR(200),
	@OP_IDOPERACIONES INT,
	@US_IDUSUARIO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[TRANSACCIONES]

		SET [TR_HOST]= @TR_HOST,
			[TR_DESCRIPCION]=@TR_DESCRIPCION,
			[OP_IDOPERACIONES] =@OP_IDOPERACIONES,
			[US_IDUSUARIO] = @US_IDUSUARIO

		WHERE [TR_IDTRANSACCION] = @TR_IDTRANSACCION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_TRIMESTRE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_TRIMESTRE]
	@TR_IDTRIMESTRE INT,
	@TR_TRIMESTRE VARCHAR(80),
	@TR_INCIO DATETIME,
	@TR_FIN DATETIME,
	@TR_ESTADO CHAR(1)
	AS
	BEGIN 
		
		UPDATE [dbo].[TRIMESTRE]

		SET [TR_TRIMESTRE]= @TR_IDTRIMESTRE,
			[TR_INCIO]=@TR_INCIO,
			[TR_FIN] =@TR_FIN,
			[TR_ESTADO] = @TR_ESTADO

		WHERE [TR_IDTRIMESTRE] = @TR_IDTRIMESTRE
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_TURNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_TURNO]
	@TR_IDTURNO INT,
	@TR_TURNO VARCHAR(50),
	@TR_ESTADO CHAR(1)
	AS
	BEGIN 
		
		UPDATE [dbo].[TURNO]

		SET [TR_TURNO]= @TR_TURNO,
			[TR_ESTADO]=@TR_ESTADO
		WHERE [TR_IDTURNO] = @TR_IDTURNO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_USUARIO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_EDITAR_USUARIO]
	@US_IDUSUARIO INT,
	@US_USUARIO VARCHAR(100),
	@US_CONTRASENIA VARCHAR(120),
	@CN_IDCONSTANTE INT,
	@PE_IDPERSONA INT
	AS
	BEGIN 
		
		UPDATE [dbo].[USUARIO]

		SET [US_USUARIO]= @US_USUARIO,
			[US_CONTRASENIA]=@US_CONTRASENIA,
			[CN_IDCONSTANTE] =@CN_IDCONSTANTE,
			[PE_IDPERSONA] = @PE_IDPERSONA

		WHERE [US_IDUSUARIO] = @US_IDUSUARIO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_ANIO_LECTIVO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_ANIO_LECTIVO]
	@AN_IDANIOL INT
	AS
	BEGIN 
		UPDATE [dbo].[ANIO_LECTIVO]
		SET [AN_ESTADO]='I'
		WHERE [AN_IDANIOL] = @AN_IDANIOL
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_AULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_AULA]
	@AU_IDAULA INT
	AS
	BEGIN 
		UPDATE [dbo].[AULA]
		SET [AU_ESTADO]='I'
		WHERE [AU_IDAULA] = @AU_IDAULA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_CONSTANTE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_CONSTANTE]
	@CN_IDCONSTANTE INT
	AS
	BEGIN 
		DELETE  from [dbo].[CONSTANTE]
		 where @CN_IDCONSTANTE = CN_IDCONSTANTE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_CURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_CURSO]
	@CU_IDCURSO INT
	AS
	BEGIN 
		UPDATE [dbo].[CURSO]
		SET [CU_ESTADO]='I'
		WHERE [CU_IDCURSO] = @CU_IDCURSO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_GRADO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_GRADO]
	@GR_IDGRADO INT
	AS
	BEGIN 
		UPDATE [dbo].[GRADO]
		SET [GR_ESTADO]='I'
		WHERE [GR_IDGRADO] = @GR_IDGRADO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_MATRICULA]
	@MA_IDMATRICULA INT
	AS
	BEGIN 
		UPDATE [dbo].[MATRICULA]
		SET [MA_ESTADO]='I'
		WHERE [MA_IDMATRICULA] = @MA_IDMATRICULA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_OPERACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_OPERACIONES]
	@OP_IDOPERACIONES INT
	AS
	BEGIN 
		UPDATE [dbo].[OPERACIONES]
		SET [OP_ESTADO]='I'
		WHERE [OP_IDOPERACIONES] = @OP_IDOPERACIONES
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_PERSONA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_PERSONA]
	@PE_IDPERSONA INT
	AS
	BEGIN 
		UPDATE [dbo].[PERSONA]
		SET [PE_ESTADO]='I'
		WHERE [PE_IDPERSONA] = @PE_IDPERSONA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_RESERVA_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_RESERVA_MATRICULA]
	@RM_IDMATRICULA INT
	AS
	BEGIN 
		UPDATE [dbo].[RESERVA_MATRICULA]
		SET [RM_ESTADO]='I'
		WHERE [RM_IDMATRICULA] = @RM_IDMATRICULA
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_SECCION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_SECCION]
	@SE_IDSECCION INT
	AS
	BEGIN 
		UPDATE [dbo].[SECCION]
		SET [SE_ESTADO]='I'
		WHERE [SE_IDSECCION] = @SE_IDSECCION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_TRIMESTRE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_TRIMESTRE]
	@TR_IDTRIMESTRE INT
	AS
	BEGIN 
		UPDATE [dbo].[TRIMESTRE]
		SET [TR_ESTADO]='I'
		WHERE [TR_IDTRIMESTRE] = @TR_IDTRIMESTRE
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_TURNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_ELIMINAR_TURNO]
	@TR_IDTURNO INT
	AS
	BEGIN 
		
		UPDATE [dbo].[TURNO]

		SET [TR_ESTADO]='I'
		WHERE [TR_IDTURNO] = @TR_IDTURNO
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_ALUMNO]
	@PE_IDPERSONA INT, 
	@PER_IDAPODERADO INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[ALUMNO]
		VALUES (@PE_IDPERSONA,@PER_IDAPODERADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_ANIO_LECTIVO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_ANIO_LECTIVO]
	@AN_ANIO CHAR(5),
	@AN_ESTADO CHAR(1)
	AS
	BEGIN 
	   INSERT INTO [dbo].[ANIO_LECTIVO]
		VALUES (@AN_ANIO,@AN_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_AULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_AULA]
	@AU_NUMERO VARCHAR(10),
	@AU_VACANTES INT,
	@AU_CAPACIDAD INT,
	@AU_ESTADO CHAR
	AS
	BEGIN 
	   INSERT INTO [dbo].[AULA]
		VALUES (@AU_NUMERO, @AU_VACANTES,@AU_CAPACIDAD,@AU_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CALIFICACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_CALIFICACIONES]
	@CA_NOTA01 FLOAT,
	@CA_NOTA02 FLOAT,
	@CA_NOTA03 FLOAT,
	@CA_NOTA04 FLOAT,
	@CA_NOTA05 FLOAT,
	@TR_IDTRIMESTRE INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[CALIFICACIONES]
		VALUES (@CA_NOTA01,@CA_NOTA02,@CA_NOTA03,@CA_NOTA04,@CA_NOTA05,@TR_IDTRIMESTRE)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CERTIFICADO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_CERTIFICADO_ALUMNO]
	@CN_IDCONSTANTE INT,
	@AL_IDALUMNO INT,
	@IA_RUTA VARCHAR(200),
	@IA_CERTIFICADO VARCHAR(200)
	AS
	BEGIN 
	   INSERT INTO [dbo].[CERTIFICADO_ALUMNO]
		VALUES (@CN_IDCONSTANTE, @AL_IDALUMNO,@IA_RUTA,@IA_CERTIFICADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CONSTANTE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_CONSTANTE]
	@CN_NOMBRE VARCHAR(100),
	@CN_CATEGORIA VARCHAR(150)
	AS
	BEGIN 
	   INSERT INTO [dbo].[CONSTANTE]
		VALUES (@CN_NOMBRE,@CN_CATEGORIA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_CURSO]
	@CU_NOMBRE VARCHAR(150),
	@CU_ESTADO CHAR(1)
	AS
	BEGIN 
	   INSERT INTO [dbo].[CURSO]
		VALUES (@CU_NOMBRE,@CU_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE_CALIFICACION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_DETALLE_CALIFICACION]
	@PC_IDPROGRAMAR INT,
	@CA_IDCALIFICACIONES INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[DETALLE_CALIFICACION]
		VALUES (@PC_IDPROGRAMAR, @CA_IDCALIFICACIONES)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DOCUMENTO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_DOCUMENTO_ALUMNO]
	@AN_IDANIOL INT,
	@GR_IDGRADO INT,
	@SE_IDSECCION INT, 
	@AL_IDALUMNO INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[DOCUMENTO_ALUMNO]
		VALUES (@AN_IDANIOL, @GR_IDGRADO,@SE_IDSECCION,@AL_IDALUMNO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_GRADO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_GRADO]
	@GR_GRADO CHAR(2),
	@GR_ESTADO CHAR(1),
	@TR_IDTURNO INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[GRADO]
		VALUES (@GR_GRADO, @GR_ESTADO,@TR_IDTURNO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_MALLA_CURRICULAR]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_MALLA_CURRICULAR]
	@MC_FECHA DATETIME,
	@GR_IDGRADO INT,
	@AN_IDANIOL INT,
	@CU_IDCURSO INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[MALLA_CURRICULAR]
		VALUES (@MC_FECHA, @GR_IDGRADO,@AN_IDANIOL,@CU_IDCURSO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_MATRICULA] 
	@MA_FECHA DATETIME,
	@MA_ESTADO CHAR(1),
	@RM_IDMATRICULA INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[MATRICULA]
		VALUES (@MA_FECHA,@MA_ESTADO,@RM_IDMATRICULA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_OPERACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_OPERACIONES]
	@OP_OPERACION VARCHAR(100),
	@OP_ESTADO CHAR(1)
	AS
	BEGIN 
	   INSERT INTO [dbo].[OPERACIONES]
		VALUES (@OP_OPERACION, @OP_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PERSONA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_PERSONA]
	@PE_NOMBRE VARCHAR(100),
	@PE_APELLIDOPAT VARCHAR(50),
	@PE_APELLIDOMAT VARCHAR(50),
	@PE_IDENTIFICACION CHAR(8),
	@PE_FECHANAC DATETIME, 
	@PE_TELEFONO CHAR(9),
	@PE_DIRECCION VARCHAR(100),
	@PE_SEXO CHAR(1),
	@PE_ESTADO CHAR(1)
	AS
	BEGIN 
	   INSERT INTO [dbo].[PERSONA]
		VALUES (@PE_NOMBRE, @PE_APELLIDOPAT,@PE_APELLIDOMAT,@PE_IDENTIFICACION,@PE_FECHANAC
		,@PE_TELEFONO,@PE_DIRECCION,@PE_SEXO,@PE_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PERSONAL]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_PERSONAL] 
	@PE_IDPERSONA INT,
	@CN_IDTIPOPERSONA INT 
	AS
	BEGIN 
	   INSERT INTO [dbo].[PERSONAL]
		VALUES (@PE_IDPERSONA, @CN_IDTIPOPERSONA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PROGRAMAR_DOCENTECURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_PROGRAMAR_DOCENTECURSO]
	@PC_FECHA DATETIME,
	@MC_IDMALLAC INT,
	@PER_IDPERSONAL INT,
	@AU_IDAULA INT,
	@SE_IDSECCION INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[PROGRAMAR_DOCENTECURSO]
		VALUES (@PC_FECHA, @MC_IDMALLAC,@PER_IDPERSONAL,@AU_IDAULA,@SE_IDSECCION)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_RESERVA_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_RESERVA_MATRICULA]
	@RM_FECHA DATETIME,
	@RM_ESTADO CHAR(1),
	@DA_IDDOCUMENTO INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[RESERVA_MATRICULA]
		VALUES (@RM_FECHA, @RM_ESTADO,@DA_IDDOCUMENTO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_SECCION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_SECCION]
	@SE_SECCION CHAR(2),
	@SE_ESTADO CHAR(1)
	AS
	BEGIN 
	   INSERT INTO [dbo].[SECCION]
		VALUES (@SE_SECCION,@SE_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_TRANSACCIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_TRANSACCIONES]
	@TR_HOST VARCHAR (100),
	@TR_DESCRIPCION VARCHAR(200),
	@OP_IDOPERACIONES INT,
	@US_IDUSUARIO INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[TRANSACCIONES]
		VALUES (@TR_HOST, @TR_HOST,@OP_IDOPERACIONES,@US_IDUSUARIO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_TRIMESTRE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_TRIMESTRE]
	@TR_TRIMESTRE VARCHAR(80),
	@TR_INCIO DATETIME,
	@TR_FIN DATETIME,
	@TR_ESTADO CHAR(1)
	AS
	BEGIN 
	   INSERT INTO [dbo].[TRIMESTRE]
		VALUES (@TR_TRIMESTRE, @TR_INCIO,@TR_FIN,@TR_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_TURNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_TURNO]
	@TR_TURNO VARCHAR(50),
	@TR_ESTADO CHAR(1)
	AS
	BEGIN 
   
	   INSERT INTO [dbo].[TURNO]
		VALUES (@TR_TURNO, @TR_ESTADO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_USUARIO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_INSERTAR_USUARIO]
	@US_USUARIO VARCHAR(100),
	@US_CONTRASENIA VARCHAR(120),
	@CN_IDCONSTANTE INT,
	@PE_IDPERSONA INT
	AS
	BEGIN 
	   INSERT INTO [dbo].[USUARIO]
		VALUES (@US_USUARIO, @US_CONTRASENIA,@CN_IDCONSTANTE,@PE_IDPERSONA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_ALUMNO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [PE_APELLIDOPAT] AS [PERSONA],
		   [PER_IDAPODERADO] AS [APODERADO]
	FROM [dbo].[ALUMNO] A 
	INNER JOIN [dbo].[PERSONA] PE ON A.PE_IDPERSONA = PE.PE_IDPERSONA
	INNER JOIN [dbo].[PERSONAL] PER ON A.PER_IDAPODERADO = PER.PER_IDPERSONAL
	
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_ANIO_LECTIVO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_ANIO_LECTIVO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [AN_ANIO] AS [AÑO],
		   [AN_ESTADO] AS [ESTADO]
		   
	FROM [dbo].[ANIO_LECTIVO]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_AULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_AULA]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [AU_NUMERO] AS [NUMERO],
		   [AU_VACANTES]  AS [VACANTES],
		   [AU_CAPACIDAD] AS [CAPACIDAD],
		   [AU_ESTADO] AS [ESTADO]
	FROM [dbo].[AULA]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CALIFICACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_CALIFICACIONES]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [CA_NOTA01] AS [NOTA 01],
		   [CA_NOTA02] AS [NOTA 02],
		   [CA_NOTA03] AS [NOTA 03],
		   [CA_NOTA04] AS [NOTA 04],
		   [CA_NOTA05] AS [NOTA 05],
		   [TR_TRIMESTRE] AS [TRIMESTRE]
		   
	FROM [dbo].[CALIFICACIONES] CA
	INNER JOIN [dbo].[TRIMESTRE] TR ON CA.TR_IDTRIMESTRE = TR.TR_IDTRIMESTRE
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CERTIFICADO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_CERTIFICADO_ALUMNO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [CN_NOMBRE] AS [CONSTANTE],
		   [PE_APELLIDOPAT] AS [ALUMNO],
		   [IA_RUTA]  AS [RUTA],
		   [IA_CERTIFICADO] AS [CERTIFICADO]
	FROM [dbo].[CERTIFICADO_ALUMNO] CA
	INNER JOIN [dbo].[CONSTANTE] CN ON CA.CN_IDCONSTANTE = CN.CN_IDCONSTANTE
	INNER JOIN [dbo].[ALUMNO] AL ON CA.AL_IDALUMNO = AL.AL_IDALUMNO
	INNER JOIN [dbo].[PERSONA] PE ON AL.PE_IDPERSONA = PE.PE_IDPERSONA
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CONSTANTE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_CONSTANTE]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [CN_NOMBRE] AS [CONSTANTE],
		   [CN_CATEGORIA] AS [CATEGORIA]
		   
	FROM [dbo].[CONSTANTE]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_CURSO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [CU_NOMBRE] AS [CURSO],
		   [CU_ESTADO] AS [ESTADO]
		   
	FROM [dbo].[CURSO]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_DETALLE_CALIFICACION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_DETALLE_CALIFICACION]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [PC_IDPROGRAMAR] AS [PROGRAMAR DOCENTE],
		   [CA_IDCALIFICACIONES] AS [CALIFICACIONE]
	FROM [dbo].[DETALLE_CALIFICACION]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_DOCUMENTO_ALUMNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MOSTRAR_DOCUMENTO_ALUMNO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [AN_ANIO] AS [AÑO LECTIVO],
		   [GR_GRADO] AS [GRADO],
		   [SE_SECCION]  AS [SECCION],
		   [PE_APELLIDOPAT] AS [ALUMNO]
	FROM [dbo].[DOCUMENTO_ALUMNO] DA
	INNER JOIN [dbo].[ANIO_LECTIVO] AE ON DA.AN_IDANIOL = AE.AN_IDANIOL
	INNER JOIN [dbo].[GRADO] G ON DA.GR_IDGRADO = G.GR_IDGRADO
	INNER JOIN [dbo].[SECCION] S ON DA.SE_IDSECCION = S.SE_IDSECCION
	INNER JOIN [dbo].[ALUMNO] A ON DA.AL_IDALUMNO = A.AL_IDALUMNO
	INNER JOIN [dbo].[PERSONA] PE ON A.PE_IDPERSONA = PE.PE_IDPERSONA

END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_GRADO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_GRADO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [GR_GRADO] AS [GRADO],
		   [GR_ESTADO] AS [ESTADO],
		   [TR_TURNO]  AS [TURNO]
	FROM [dbo].[GRADO] G 
	INNER JOIN [dbo].[TURNO] T ON G.TR_IDTURNO=T.TR_IDTURNO
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_MALLA_CURRICULAR]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROC [dbo].[SP_MOSTRAR_MALLA_CURRICULAR]
	AS
	BEGIN 
	SET NOCOUNT ON;
		SELECT [MC_FECHA] AS [FECHA],
			   [GR_GRADO] AS [GRADO],
			   [AN_ANIO]  AS [AÑO LECTIVO],
			   [CU_NOMBRE] AS [CURSO]
		FROM [dbo].[MALLA_CURRICULAR] MC
		INNER JOIN [dbo].[GRADO] GR ON MC.GR_IDGRADO = GR.GR_IDGRADO
		INNER JOIN [dbo].[ANIO_LECTIVO] AN ON MC.AN_IDANIOL =AN.AN_IDANIOL
		INNER JOIN [dbo].[CURSO] CU ON MC.CU_IDCURSO = CU.CU_IDCURSO
	END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_MATRICULA]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [MA_FECHA] AS [FECHA],
		   [MA_ESTADO] AS [ESTADO],
		   [PE_APELLIDOPAT]  AS [RESERVA MATRICULA]
	FROM [dbo].[MATRICULA] MA 
	INNER JOIN [dbo].[RESERVA_MATRICULA] RM ON MA.RM_IDMATRICULA = RM.RM_IDMATRICULA
	INNER JOIN [dbo].[DOCUMENTO_ALUMNO] DA ON RM.DA_IDDOCUMENTO = DA.DA_IDDOCUMENTO
	INNER JOIN [dbo].[ALUMNO] AL ON DA.AL_IDALUMNO = AL.AL_IDALUMNO
	INNER JOIN [dbo].[PERSONA] PE ON AL.PE_IDPERSONA = PE.PE_IDPERSONA
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_OPERACIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_OPERACIONES]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [OP_OPERACION] AS [OPERACION],
		   [OP_ESTADO] AS [ESTADO]
	FROM [dbo].[OPERACIONES]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_PERSONA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_PERSONA]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [PE_NOMBRE] AS [NOMBRE],
		   [PE_APELLIDOPAT] AS [APELLIDO PAT],
		   [PE_APELLIDOMAT]  AS [APELLIDO MAT],
		   [PE_IDENTIFICACION] AS [IDENTIFICACION],
		   [PE_FECHANAC] AS [FECHA NAC],
		   [PE_TELEFONO] AS [TELEFONO],
		   [PE_DIRECCION] AS [DIRECCION],
		   [PE_SEXO] AS [SEXO],
		   [PE_ESTADO] AS [ESTADO]

	FROM [dbo].[PERSONA]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_PERSONAL]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_PERSONAL]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [PE_APELLIDOPAT] AS [PERSONA],
		   [CN_NOMBRE] AS [TIPOPERSONA]
	FROM [dbo].[PERSONAL] PER
	INNER JOIN [dbo].[PERSONA] PE ON PER.PE_IDPERSONA = PE.PE_IDPERSONA
	INNER JOIN [dbo].[CONSTANTE] CN ON PER.CN_IDTIPOPERSONA = CN.CN_IDCONSTANTE
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_PROGRAMAR_DOCENTECURSO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_PROGRAMAR_DOCENTECURSO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [PC_FECHA] AS [FECHA],
		   [MC_IDMALLAC] AS [MALLA CURRICULAR],
		   [PER_IDPERSONAL]  AS [PERSONAL],
		   [AU_IDAULA] AS [AULA],
		   [SE_IDSECCION] AS [SECCION]
	FROM [dbo].[PROGRAMAR_DOCENTECURSO]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_RESERVA_MATRICULA]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_RESERVA_MATRICULA]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [RM_FECHA] AS [FECHA],
		   [RM_ESTADO] AS [ESTADO],
		   [DA_IDDOCUMENTO]  AS [DOCUEMENTO ALUMNO]
	FROM [dbo].[RESERVA_MATRICULA]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_SECCION]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_SECCION]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [SE_SECCION] AS [SECCION],
		   [SE_ESTADO] AS [ESTADO]
		   
	FROM [dbo].[SECCION]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_TRANSACCIONES]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_TRANSACCIONES]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [TR_HOST] AS [HOST],
		   [TR_DESCRIPCION]  AS [DESCRIPCION],
		   [OP_OPERACION] AS [OPERACION],
		   [US_USUARIO] AS [USUARIO]
	FROM [dbo].[TRANSACCIONES] TR
	INNER JOIN [dbo].[OPERACIONES] OE ON TR.OP_IDOPERACIONES = OE.OP_IDOPERACIONES
	INNER JOIN [dbo].[USUARIO] US ON TR.US_IDUSUARIO = US.US_IDUSUARIO
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_TRIMESTRE]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_TRIMESTRE]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [TR_TRIMESTRE] AS [TRIMESTRE],
		   [TR_INCIO] AS [FECHA INICIO],
		   [TR_FIN]  AS [FECHA FIN],
		   [TR_ESTADO] AS [ESTADO]
	FROM [dbo].[TRIMESTRE]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_TURNO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_TURNO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [TR_TURNO] AS [TURNO],
		   [TR_ESTADO] AS [ESTADO]
	FROM [TURNO]
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_USUARIO]    Script Date: 02/07/2020 23:41:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MOSTRAR_USUARIO]
AS
BEGIN 
SET NOCOUNT ON;
	SELECT [US_USUARIO] AS [USUARIO],
		   [US_CONTRASENIA] AS [CONTRASEÑA],
		   [CN_IDCONSTANTE]  AS [CONSTANTE],
		   [PE_APELLIDOPAT] AS [PERSONA]
	FROM [dbo].[USUARIO] US
	INNER JOIN [dbo].[PERSONA] PE ON US.PE_IDPERSONA = PE.PE_IDPERSONA 
END 
GO
USE [master]
GO
